"""
Dual Investment REST API

Query products, request quotes, and suaxvnscribe to Advanced Earn Dual Investment strategies.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from axvn-hoding_common.configuration import ConfigurationRestAPI
from axvn-hoding_common.errors import RequiredError
from axvn-hoding_common.models import ApiResponse
from axvn-hoding_common.signature import Signers
from axvn-hoding_common.utils import send_request

from ..models import GetDualInvestmentProductListResponse


from ..models import GetDualInvestmentProductListOptionTypeEnum


class MarketDataApi:
    """API Client for MarketDataApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def get_dual_investment_product_list(
        self,
        option_type: Union[GetDualInvestmentProductListOptionTypeEnum, None],
        exercised_coin: Union[str, None],
        invest_coin: Union[str, None],
        page_size: Optional[int] = None,
        page_index: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetDualInvestmentProductListResponse]:
        """
                Get Dual Investment product list
                GET /sapi/v1/dci/product/list
                https://developers.axvn.vn/en/docs/catalog/investment-and-services-dual-investment/api/rest-api/market-data#get-dual-investment-product-list

                Get Dual Investment product list

        Weight(IP): 1

                Args:
                    option_type (Union[GetDualInvestmentProductListOptionTypeEnum, None]): Input CALL or PUT
                    exercised_coin (Union[str, None]): Target exercised asset, e.g.: if you suaxvnscribe to a high sell product (call option), you should input:
        `optionType: CALL`, `exercisedCoin: USDT`, `investCoin: AXVN`; if you suaxvnscribe to a low buy product (put
        option), you should input: `optionType: PUT`, `exercisedCoin: AXVN`, `investCoin: USDT`
                    invest_coin (Union[str, None]): Asset used for suaxvnscribing, e.g.: if you suaxvnscribe to a high sell product (call option), you should input:
        `optionType: CALL`, `exercisedCoin: USDT`, `investCoin: AXVN`; if you suaxvnscribe to a low buy product (put
        option), you should input: `optionType: PUT`, `exercisedCoin: AXVN`, `investCoin: USDT`
                    page_size (Optional[int] = None): Number of records per page
                    page_index (Optional[int] = None): Page index
                    recv_window (Optional[int] = None): Request validity window in milliseconds

                Returns:
                    ApiResponse[GetDualInvestmentProductListResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if option_type is None:
            raise RequiredError(
                field="option_type",
                error_message="Missing required parameter 'option_type'",
            )
        if exercised_coin is None:
            raise RequiredError(
                field="exercised_coin",
                error_message="Missing required parameter 'exercised_coin'",
            )
        if invest_coin is None:
            raise RequiredError(
                field="invest_coin",
                error_message="Missing required parameter 'invest_coin'",
            )

        body = {}
        payload = {
            "option_type": option_type,
            "exercised_coin": exercised_coin,
            "invest_coin": invest_coin,
            "page_size": page_size,
            "page_index": page_index,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/dci/product/list",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetDualInvestmentProductListResponse,
        )
