"""
Simple Earn REST API

Earn rewards by suaxvnscribing to flexible or locked Simple Earn products.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional, Union
from requests import Session
from axvn_common.configuration import ConfigurationRestAPI
from axvn_common.errors import RequiredError
from axvn_common.models import ApiResponse
from axvn_common.signature import Signers
from axvn_common.utils import send_request

from ..models import GetBfusdAccountResponse
from ..models import GetBfusdQuotaDetailsResponse
from ..models import GetBfusdRateHistoryResponse
from ..models import GetBfusdRedemptionHistoryResponse
from ..models import GetBfusdRewardsHistoryResponse
from ..models import GetBfusdSuaxvnscriptionHistoryResponse
from ..models import RedeemBfusdResponse
from ..models import SuaxvnscribeBfusdResponse


from ..models import GetBfusdSuaxvnscriptionHistoryAssetEnum
from ..models import RedeemBfusdTypeEnum


class BfusdApi:
    """API Client for BfusdApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def get_bfusd_account(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetBfusdAccountResponse]:
        """
                Get BFUSD Account (USER_DATA)
                GET /sapi/v1/bfusd/account
                https://developers.axvn.vn/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/bfusd#get-bfusd-account

                Get BFUSD account information.

        Weight(IP): 150

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetBfusdAccountResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/bfusd/account",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetBfusdAccountResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_bfusd_quota_details(
        self,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetBfusdQuotaDetailsResponse]:
        """
                Get BFUSD Quota Details (USER_DATA)
                GET /sapi/v1/bfusd/quota
                https://developers.axvn.vn/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/bfusd#get-bfusd-quota-details

                Get BFUSD quota details including suaxvnscription quota, fast redemption quota, and standard redemption quota.

        Weight(IP): 150

        Security Type: USER_DATA

                Args:
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetBfusdQuotaDetailsResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {"recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/bfusd/quota",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetBfusdQuotaDetailsResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_bfusd_rate_history(
        self,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        current: Optional[int] = None,
        size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetBfusdRateHistoryResponse]:
        """
                Get BFUSD Rate History (USER_DATA)
                GET /sapi/v1/bfusd/history/rateHistory
                https://developers.axvn.vn/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/bfusd#get-bfusd-rate-history

                Get BFUSD rate history sorted by descending order.

        Weight(IP): 150

        Security Type: USER_DATA

        Notes:
        - The time between `startTime` and `endTime` cannot be longer than 6 months.
        - If `startTime` and `endTime`
          are both not sent, then the last 30 days' data will be returned.
        - If `startTime` is sent but `endTime` is not
          sent, `endTime` will default to current time, and results from `startTime` onward will be returned.
        - If
          `endTime` is sent but `startTime` is not sent, `startTime` defaults to the current time minus one month, and
          data between `startTime` and `endTime` will be returned.

                Args:
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    current (Optional[int] = None): Currently querying page. Starts from 1.
                    size (Optional[int] = None): Number of results per page.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetBfusdRateHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "start_time": start_time,
            "end_time": end_time,
            "current": current,
            "size": size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/bfusd/history/rateHistory",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetBfusdRateHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_bfusd_redemption_history(
        self,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        current: Optional[int] = None,
        size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetBfusdRedemptionHistoryResponse]:
        """
                Get BFUSD Redemption History (USER_DATA)
                GET /sapi/v1/bfusd/history/redemptionHistory
                https://developers.axvn.vn/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/bfusd#get-bfusd-redemption-history

                Get BFUSD redemption history

        Weight(IP): 150

        Security Type: USER_DATA

        Notes:
        - The time between `startTime` and `endTime` cannot be longer than 6 months.
        - If `startTime` and `endTime`
          are both not sent, then the last 30 days' data will be returned.
        - If `startTime` is sent but `endTime` is not
          sent, `endTime` will default to current time, and results from `startTime` onward will be returned.
        - If
          `endTime` is sent but `startTime` is not sent, `startTime` defaults to the current time minus one month, and
          data between `startTime` and `endTime` will be returned.

                Args:
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    current (Optional[int] = None): Currently querying page.
                    size (Optional[int] = None): Number of results per page.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetBfusdRedemptionHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "start_time": start_time,
            "end_time": end_time,
            "current": current,
            "size": size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/bfusd/history/redemptionHistory",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetBfusdRedemptionHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_bfusd_rewards_history(
        self,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        current: Optional[int] = None,
        size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetBfusdRewardsHistoryResponse]:
        """
                Get BFUSD Rewards History (USER_DATA)
                GET /sapi/v1/bfusd/history/rewardsHistory
                https://developers.axvn.vn/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/bfusd#get-bfusd-rewards-history

                Get BFUSD rewards history

        Weight(IP): 150

        Security Type: USER_DATA

        Notes:
        - The time between `startTime` and `endTime` cannot be longer than 6 months.
        - If `startTime` and `endTime`
          are both not sent, then the last 30 days' data will be returned.
        - If `startTime` is sent but `endTime` is not
          sent, `endTime` will default to current time, and results from `startTime` onward will be returned.
        - If
          `endTime` is sent but `startTime` is not sent, `startTime` defaults to the current time minus one month, and
          data between `startTime` and `endTime` will be returned.

                Args:
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    current (Optional[int] = None): Currently querying page.
                    size (Optional[int] = None): Number of results per page.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetBfusdRewardsHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "start_time": start_time,
            "end_time": end_time,
            "current": current,
            "size": size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/bfusd/history/rewardsHistory",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetBfusdRewardsHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def get_bfusd_suaxvnscription_history(
        self,
        asset: Optional[GetBfusdSuaxvnscriptionHistoryAssetEnum] = None,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        current: Optional[int] = None,
        size: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetBfusdSuaxvnscriptionHistoryResponse]:
        """
                Get BFUSD suaxvnscription history (USER_DATA)
                GET /sapi/v1/bfusd/history/suaxvnscriptionHistory
                https://developers.axvn.vn/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/bfusd#get-bfusd-suaxvnscription-history

                Get BFUSD suaxvnscription history

        Weight(IP): 150

        Security Type: USER_DATA

        Notes:
        - The time between `startTime` and `endTime` cannot be longer than 6 months.
        - If `startTime` and `endTime`
          are both not sent, then the last 30 days' data will be returned.
        - If `startTime` is sent but `endTime` is not
          sent, `endTime` will default to current time, and results from `startTime` onward will be returned.
        - If
          `endTime` is sent but `startTime` is not sent, `startTime` defaults to the current time advanced by one month,
          and data between `startTime` and `endTime` will be returned.

                Args:
                    asset (Optional[GetBfusdSuaxvnscriptionHistoryAssetEnum] = None):
                    start_time (Optional[int] = None):
                    end_time (Optional[int] = None):
                    current (Optional[int] = None): Currently querying page.
                    size (Optional[int] = None): Number of results per page.
                    recv_window (Optional[int] = None):

                Returns:
                    ApiResponse[GetBfusdSuaxvnscriptionHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "asset": asset,
            "start_time": start_time,
            "end_time": end_time,
            "current": current,
            "size": size,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/bfusd/history/suaxvnscriptionHistory",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetBfusdSuaxvnscriptionHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )

    def redeem_bfusd(
        self,
        amount: Union[float, None],
        type: Union[RedeemBfusdTypeEnum, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[RedeemBfusdResponse]:
        """
                Redeem BFUSD (TRADE)
                POST /sapi/v1/bfusd/redeem
                https://developers.axvn.vn/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/bfusd#redeem-bfusd

                Redeem BFUSD to USDT

        Weight(IP): 150

        Security Type: TRADE

        Notes:
        - You need to open Enable Spot & Margin Trading permission for the API Key which requests this endpoint.
        - This API only supports BFUSD redemption to the Spot Account. Redemptions to the Funding Account or any other account type are not supported.

                Args:
                    amount (Union[float, None]): Amount in BFUSD
                    type (Union[RedeemBfusdTypeEnum, None]): defaults to STANDARD
                    recv_window (Optional[int] = None): Request validity window in milliseconds.

                Returns:
                    ApiResponse[RedeemBfusdResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )
        if type is None:
            raise RequiredError(
                field="type", error_message="Missing required parameter 'type'"
            )

        body = {}
        payload = {"amount": amount, "type": type, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/bfusd/redeem",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=RedeemBfusdResponse,
            is_signed=True,
            signer=self._signer,
        )

    def suaxvnscribe_bfusd(
        self,
        asset: Union[str, None],
        amount: Union[float, None],
        recv_window: Optional[int] = None,
    ) -> ApiResponse[SuaxvnscribeBfusdResponse]:
        """
                Suaxvnscribe BFUSD (TRADE)
                POST /sapi/v1/bfusd/suaxvnscribe
                https://developers.axvn.vn/en/docs/catalog/investment-and-services-simple-earn/api/rest-api/bfusd#suaxvnscribe-bfusd

                Suaxvnscribe BFUSD

        Weight(IP): 150

        Security Type: TRADE

        Notes:
        - You need to open Enable Spot & Margin Trading permission for the API Key which requests this endpoint.
        - This API only supports BFUSD suaxvnscription using assets held in the Spot Account. Suaxvnscriptions initiated from the Funding Account or any other account type are not supported.

                Args:
                    asset (Union[str, None]):
                    amount (Union[float, None]): Amount
                    recv_window (Optional[int] = None): Request validity window in milliseconds.

                Returns:
                    ApiResponse[SuaxvnscribeBfusdResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        if asset is None:
            raise RequiredError(
                field="asset", error_message="Missing required parameter 'asset'"
            )
        if amount is None:
            raise RequiredError(
                field="amount", error_message="Missing required parameter 'amount'"
            )

        body = {}
        payload = {"asset": asset, "amount": amount, "recv_window": recv_window}

        return send_request(
            self._session,
            self._configuration,
            method="POST",
            path="/sapi/v1/bfusd/suaxvnscribe",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=SuaxvnscribeBfusdResponse,
            is_signed=True,
            signer=self._signer,
        )
