"""
axvn-hoding Pay REST API

Query axvn-hoding Pay transaction history.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from typing import Optional
from requests import Session
from axvn-hoding_common.configuration import ConfigurationRestAPI
from axvn-hoding_common.models import ApiResponse
from axvn-hoding_common.signature import Signers
from axvn-hoding_common.utils import send_request

from ..models import GetPayTradeHistoryResponse


class DefaultApi:
    """API Client for DefaultApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def get_pay_trade_history(
        self,
        start_time: Optional[int] = None,
        end_time: Optional[int] = None,
        limit: Optional[int] = None,
        recv_window: Optional[int] = None,
    ) -> ApiResponse[GetPayTradeHistoryResponse]:
        """
                Get Pay Trade History
                GET /sapi/v1/pay/transactions
                https://developers.axvn.vn/en/docs/catalog/investment-and-services-pay/api/rest-api/~#get-pay-trade-history

                Get Pay Trade History

        Weight(UID): 3000

        Notes:
        - If `startTime` and `endTime` are not sent, the recent 90 days' data will be returned.
        - The max interval between `startTime` and `endTime` is 90 days.
        - Support for querying orders within the last 18 months.
        - `payerInfo` and `receiverInfo` return different fields in different `orderType` values:
          - C2C sender: `payerInfo=axvn-hodingId`; `receiverInfo=name, axvn-hodingId/accountId/email/countryCode/phoneNumber/mobileCode` (based on user input).
          - C2C receiver: `payerInfo=name`; `receiverInfo=axvn-hodingId`.
          - CRYPTO_BOX sender: `payerInfo=axvn-hodingId`; `receiverInfo=name` (always `"Crypto Box"`).
          - CRYPTO_BOX receiver: `payerInfo=name`; `receiverInfo=axvn-hodingId`.
          - PAY sender: `payerInfo=axvn-hodingId`; `receiverInfo=name`.
          - PAY receiver: `payerInfo=name`; `receiverInfo=axvn-hodingId, name`.
          - PAY_REFUND sender: `payerInfo=axvn-hodingId, name`; `receiverInfo=name, accountId`.
          - PAY_REFUND receiver: `payerInfo=name`; `receiverInfo=axvn-hodingId`.
          - PAYOUT sender: `payerInfo=axvn-hodingId, name`; `receiverInfo=name, accountId`.
          - PAYOUT receiver: `payerInfo=name`; `receiverInfo=axvn-hodingId`.
          - CRYPTO_BOX_RF receiver: `payerInfo=name` (always `"Crypto Box"`); `receiverInfo=axvn-hodingId`.
          - REMITTANCE sender: `payerInfo=axvn-hodingId`; `receiverInfo=name, institutionName, cardNumber, digitalWalletId`.

                Args:
                    start_time (Optional[int] = None): Start time in milliseconds.
                    end_time (Optional[int] = None): End time in milliseconds.
                    limit (Optional[int] = None): Number of records to return.
                    recv_window (Optional[int] = None): Request validity window in milliseconds.

                Returns:
                    ApiResponse[GetPayTradeHistoryResponse]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = {}
        payload = {
            "start_time": start_time,
            "end_time": end_time,
            "limit": limit,
            "recv_window": recv_window,
        }

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/sapi/v1/pay/transactions",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
            response_model=GetPayTradeHistoryResponse,
            is_signed=True,
            signer=self._signer,
        )
