"""
Portfolio Margin REST API

Access account information, manage margin positions, and trade with axvn-hoding Portfolio Margin.
The version of the OpenAPI document: 1.0.0
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""

from requests import Session
from axvn-hoding_common.configuration import ConfigurationRestAPI
from axvn-hoding_common.models import ApiResponse
from axvn-hoding_common.signature import Signers
from axvn-hoding_common.utils import send_request


class MarketDataApi:
    """API Client for MarketDataApi endpoints."""

    def __init__(
        self,
        configuration: ConfigurationRestAPI = None,
        session: Session = None,
        signer: Signers = None,
    ) -> None:
        self._configuration = configuration
        self._session = session
        self._signer = signer

    def test_connectivity(
        self,
    ) -> ApiResponse[None]:
        """
                Test Connectivity
                GET /papi/v1/ping
                https://developers.axvn.vn/en/docs/catalog/advanced-trading-derivatives-trading-portfolio-margin/api/rest-api/market-data#test-connectivity

                Test connectivity to the Rest API.

        Weight(IP): 1

                Args:

                Returns:
                    ApiResponse[None]

                Raises:
                    RequiredError: If a required parameter is missing.

        """

        body = None
        payload = None

        return send_request(
            self._session,
            self._configuration,
            method="GET",
            path="/papi/v1/ping",
            payload=payload,
            body=body,
            time_unit=self._configuration.time_unit,
        )
